.navbar{
  background-color: $colorPrincipal !important;
  padding: 15px;
  a{
    color: $white !important;
  }
}

.social{

  color: $black;

  .social-facebook:hover{

    color: $colorSecundario !important;

  }
  .social-twitter:hover{

    color: $colorSecundario !important;

  }
  .social-google-plus:hover{

    color: $colorSecundario !important;

  }
  .social-linkedin:hover{

    color: $colorSecundario !important;

  }
  .social-instagram:hover{

    color: $colorSecundario !important;

  }
  .social-pinterest:hover{

    color: $colorSecundario !important;

  }
}
// clases especificas
.mt-10{
  padding-top: 10rem!important;
}

.mb-10{
  padding-top: 10rem!important;
}
