body{

  font-family: $font-family;
  background-color: $backgroundColor;

}

a{
  color: $black!important;
  :hover{
    color: $colorSecundario!important;
  }
  :active{
    color: $colorSecundario!important;
  }
}
